<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ url_for('static', filename='css/style_div_1.css')}}" rel="stylesheet">
    
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/">

    <title>Agggegateur SImplon</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrapsearch.css')}}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
  </head>

  <body>

          
          <a class="navbar-brand" href="/">AGGREGATOR</a>
       

    
        
        <p><a class="btn btn-primary btn-lg" href="/accueil" role="button">cliquez sur Aggregator pour retour.  &raquo;</a></p>
 <!-- Load icon library -->
 
 <!-- The form -->
 <form class="example" action="action_page.php">
   <input type="text" placeholder="Recherche.." name="search">
   <button type="submit"><i class="fa fa-search"></i></button>
 </form> 


      <div>

<table border="1" cellpadding="8" cellspacing="0" width="100%">
	<tr>
		<td colspan="2">
			<p align="right">
				 <img src="https://cdn.pixabay.com/photo/2019/06/12/17/18/smiley-4269804_960_720.jpg" style="width:30px;height:30px;">
			</p>
		</td>
	</tr>
	<tr>
		<td valign="top" width="20%"	>

			<table border="0" cellpadding="5" cellspacing="0">
				<tr>
					<td width="25%">
						Sources +
					</td>
				</tr>
				<tr>
					<td>
						<p>
							<br>
							Toutes<br>
							<br>
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" id="scales" name="scales" checked>
  						<label for="scales">HackerNews</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" id="scales" name="scales" unchecked>
  						<label for="scales">Reddit Python</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" id="scales" name="scales" unchecked>
						<label for="scales">Reddit DataScience</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" id="scales" name="scales" unchecked>
						<label for="scales">Hacker Noon</label>
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">

			<table border="0" cellpadding="5" cellspacing="0">
				<tr>
					<td>
						{% for mot in mots %}
							<tr>
								<td>
									<table width="100%" border ="1" cellspacing="1" cellpadding="1">
										<tr>
											<td>
												<p><a href="{{ mot.link }}">{{ mot.title }}</a><br>
												{{mot.published}}<br>{{mot.authors_profession}}</p>
											</td>
										<tr>
									</table>

								</td>
							</tr>
						{% endfor %}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</div>

   
    <footer>
        <p>&copy; 2020 simplon.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  
  </body>
</html>
