<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/">

    <title> Aggregateur</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrapsearch.css')}}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename= 'css/jumbotron.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">agrégateur de flux</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Accueil <span class="sr-only">(current)</span></a></li>
            <li><a href="#">journaux</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Techologie</a></li>
                <li><a href="#">Santé</a></li>
                <li><a href="#">Science</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Data</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">IA</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" method='get',action='/search'>
            <div class="form-group">
              <input type="text" name='text' class="form-control" placeholder="search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          
          <ul class="nav navbar-nav navbar-right">
            
          
               <p><a class="btn btn-primary btn-lg" href="/page_connect2" role="butt"> login  &raquo;</a></p>
                
              
                
            

                
                <li role="separator" class="divider"></li>
                
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>AGGREGATEUR-SIMPLON</h2>
        <p>Automatiser sa veille avec aggregateur de flux RSS.</p>
        <h4> Découvrez les articles .  </h4>
        
        <p><a class="btn btn-primary btn-lg" href="/accueil" role="button">cliquez ici pour lire l'article complet.  &raquo;</a></p>
 <!-- Load icon library -->
 
 


      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Technologie</h2>
          <p> . </p>
          <p><a class="btn btn-default" href="#" role="button">Affichez la suite &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Santé</h2>
          <p> . </p>
          <p><a class="btn btn-default" href="#" role="button"> Affichez la suite &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2> Science</h2>
          <p></p>
          <p><a class="btn btn-default" href="#" role="button">Affichez la suite &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2020 simplon.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
  </body>
</html>
