{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<form action="#" method="post">
<p>Name :</p>
<p><input type="text" name="nm" /></p>
<p><input type="submit" value="submit"/></p>

</form>
{% endblock %}