<!DOCTYPE html>
<html lang="fr">
  <head>

    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   
    
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/">

    <title>Créer un compte</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrapsearch.css')}}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
  <link href="{{ url_for('static', filename= 'css/jumbotron.css')}}" rel="stylesheet">
  <style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
    
  </head>

  <body> 

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        
        <div class="navbar-header">
        
          <a class="navbar-brand" href="/">AGGREGATOR. &raquo;</a></p>
          
        </div>
    
    
            <li role="separator" class="divider"></li>
                
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="content">

     <div class="wrapper">
             <div class="card">
       
              <h2>Créer un compte</h2>
    
              <form action="" method="post">
    
              <input type="text" cols="25" name="prenom" placeholder= "Prénom" maxlength="40" required/><br>
    
                <input type="text" name="nom" placeholder= "Nom" maxlength="40" required/><br>
    
                     <input type="text" name="e_mail" placeholder= "E-mail" maxlength="40" required/><br>
    
                     <input type="password" name="mot_de_passe" placeholder= "Mot de passee" maxlength="40" required/><br>
    
        
    
                    <p> Adresse </p>
    
                    <input type="text" name="numero_rue" placeholder= "N* de rue" maxlength="5" required/><br>
    
                   <input type="text" name="nom_rue" placeholder= "Nom de rue" maxlength="50" required/><br>
    
                    <input type="text" name="ville" placeholder= "Ville" maxlength="30" required/><br>
    
                    <br><br>
    
                    <input type="text" name="code_postal" placeholder= "Code postal" maxlength="7" required/><br>
    
                 <br>
                   <input type="submit" value="S'enregistrer"><br>
    
            </form>
    
    </div>

      <footer>
        <p>&copy; 2020 simplon.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </div>
  </body>
</html>
